tensorflow
numpy
pandas
BeutifulSoup4
lxml
urllib3
tqdm
requests
logging
newspaper3k

#more package will add later.
## Uncomment this section if need to run BERT AS SERVICE again
# bert-serving-server
# bert-serving-client
